@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Page CSS */
.stamp {
	position: absolute;
	top: 10px;
	right: 5px;
	max-height: 80px;
	max-width: 80px;
}

.address {
	position: relative;
 	text-align: justify;
 	text-align-last: center;
}

.address p {
 	padding-top: 40%;
	line-height: 3;
}

.calendar h1 {
	position: relative;
	text-align: justify;
	text-align-last: center;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 12pt;
	background-color: #EEEEEE;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page {
	margin: 1cm auto;
	background: #FFFFFF;
	box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
	outline: 0;
}

div.page-break {
	page-break-after: always;
}

h1 {
	page-break-before: always;
}

h1, h2, h3, h4, h5, h6 {
	page-break-after: avoid;
}

p {
	margin: 0;
}

p + p {
	margin-top: 0.5cm;
}

a {
	text-decoration: none;
	color: black;
}

table {
	page-break-inside: avoid;
}

/* Calendar CSS */
.calendar-table {
	width: 250%;
	margin: 50px auto;
	text-align: center;
	padding-right: 100px;
	line-height: 1;
	font-size: 16px;
}

.fl {
	float: left;
}

.block {
	width: 20%;
	margin: 0 15px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.title {
	color: #FEFEFE;
	line-height: 2.5;
}

.content {
	position: relative;
	color: #FEFEFE;
	padding: 20px 0 10px 0;
}

.day {
	position: relative;
	display: inline-block;
	margin-bottom: 0.62rem;
}

.day span {
	font-size: 4.5rem;
	letter-spacing: 8px;
	font-weight: bold;
}

.week {
	font-style: italic;
	font-size: 0.9rem;
}

.refuse .title {
	background: #2C3E50;
}

.refuse .content {
	background: #34495E;
}

.recycling .title {
	background: #2980B9;
}

.recycling .content {
	background: #3498DB;
}

.garden .title {
	background: #27AE60;
}

.garden .content {
	background: #2ECC71;
}

.glass .title {
	background: #16A085;
}

.glass .content {
	background: #1ABC9C;
}

/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */
@page {
	/* Require that at least this many lines of a paragraph must be left at the bottom of a page */
	orphans: 4;
	/* Require that at least this many lines of a paragraph must be left at the top of a new page */
	widows: 2;
}

/* When the document is actually printed */
@media print {
	html, body {
		/* Reset the document's background color */
		background-color: #fff;
	}
	.page {
		/* Reset all page styles that have been for better screen appearance only */
		/* Break cascading by using the !important rule */
		/* These resets are absolute must-haves for the print styles and the specificity may be higher elsewhere */
		width: initial !important;
		height: initial !important;
		margin: 0 !important;
		padding: 0 !important;
		border: initial !important;
		border-radius: initial !important;
		background: initial !important;
		box-shadow: initial !important;

		/* Force page breaks after each .page element of the document */
		page-break-after: always;
	}
}
